Repository sauloaraujoo/mba-modulo2-marketplace, pull requests merged in 2025-06, with the labels that each got.

#39 Seed de user admin@teste.com, role Admin e UserRole.
  src/BackEnd/LojaVirtual.Core/Infra/Seed/DbMigrationHelper.cs
Labels: data

#42 Navegador anônimo não vê mais os produtos nem os menus de cadastros.
  src/BackEnd/LojaVirtual.Mvc/Views/Home/Index.cshtml
  src/BackEnd/LojaVirtual.Mvc/Views/Shared/_Layout.cshtml
Labels: mvc

#47 Criada ClaimsAuthorization e aplicada em CategoriasController.
  src/BackEnd/LojaVirtual.Api/Controllers/CategoriasController.cs
  src/BackEnd/LojaVirtual.Api/Extensions/ClaimsAuthorization.cs
  src/BackEnd/LojaVirtual.Api/Extensions/ClaimsAuthorizeAttribute.cs
  src/BackEnd/LojaVirtual.Api/Extensions/RequisitoClaimFilter.cs
  src/BackEnd/LojaVirtual.Data/Seed/DbMigrationHelper.cs
Labels: api, data

#49 Feature/manutecao vendedores
  .gitignore
  src/BackEnd/LojaVirtual.Business/Interfaces/IProdutoRepository.cs
  src/BackEnd/LojaVirtual.Business/Interfaces/IProdutoService.cs
  src/BackEnd/LojaVirtual.Business/Interfaces/IVendedorRepository.cs
  src/BackEnd/LojaVirtual.Business/Interfaces/IVendedorService.cs
  src/BackEnd/LojaVirtual.Business/Services/ProdutoService.cs
  src/BackEnd/LojaVirtual.Business/Services/VendedorService.cs
  src/BackEnd/LojaVirtual.Data/LojaVirtual.Data.csproj
  src/BackEnd/LojaVirtual.Data/Mappings/VendedorMapping.cs
  src/BackEnd/LojaVirtual.Data/Repositories/ProdutoRepository.cs
  src/BackEnd/LojaVirtual.Data/Repositories/VendedorRepository.cs
  src/BackEnd/LojaVirtual.Data/Seed/DbMigrationHelper.cs
  src/BackEnd/LojaVirtual.Mvc/Configurations/AutoMapperConfig.cs
  src/BackEnd/LojaVirtual.Mvc/Configurations/DependencyInjectingConfig.cs
  src/BackEnd/LojaVirtual.Mvc/Controllers/ProdutosController.cs
  src/BackEnd/LojaVirtual.Mvc/Controllers/VendedoresController.cs
  src/BackEnd/LojaVirtual.Mvc/Models/ProdutoViewModel.cs
  src/BackEnd/LojaVirtual.Mvc/Models/VendedorViewModel.cs
  src/BackEnd/LojaVirtual.Mvc/Views/Produtos/Index.cshtml
  src/BackEnd/LojaVirtual.Mvc/Views/Shared/_Layout.cshtml
  src/BackEnd/LojaVirtual.Mvc/Views/Vendedores/Index.cshtml
  src/BackEnd/LojaVirtual.Mvc/wwwroot/images/monitor.jpg
  src/BackEnd/LojaVirtual.Mvc/wwwroot/images/teclado.jpg
Labels: mvc, data
